/*************************************/
/* ------------ MIX IN'S ----------- */
/*************************************/
@red {
  color: #f0554d;
}
.sans {
  font-family: Arial, helvetica, sans-serif;
}
.serif {
  font-family: Georgia, serif;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.smartFill {
  width: 100%;
  max-height: 100%;
}
.ccnr {
  background-position: center center;
  background-repeat: no-repeat;
}
.cover {
  background-size: cover;
  -ms-behavior: url(../js/vendor/backgroundsize.min.htc);
}
.border-box {
  box-sizing: border-box;
}
.triggerGPU {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.no-select {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
/*************************************/
/* ------------ TRANSISIONS ------------ */
/*************************************/
/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: s 0;
}
html,
body {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
}
.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.copy {
  color: white;
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -50px;
  text-align: center;
  font-size: 36px;
  font-family: Arial, helvetica, sans-serif;
}
